@page "/"
@rendermode InteractiveServer
@* //<MudImage Fluid="true" Src="HomeBG.jpg" Alt="Swedish Farm House"  Class="rounded-lg" tabindex="0" Style"/> *@
<PageTitle>Home</PageTitle>

	<div style="display:flex; flex-direction:column">

		<div style="position: relative;display:inline-block ">

            <MudImage Style="display : block;z-index:-1" Fluid="true" Src="HomeBg.jpg" Alt="Swedish Farm House" />
            <h6 style="position:absolute;text-align:center;top:50% ; right:50%;z-index:1">
                Some random Text
            </h6>
        <div style="position: absolute; /* Sit on top of the page content */
                      width: 100%; /* Full width (cover the whole page) */
                      height: 100%; /* Full height (cover the whole page) */
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
                      z-index: 0;">
                    </div>
            <div style="position:absolute;z-index:2;bottom:0;width:100%">

            <MudCarousel Class="mud-width-full" Style="height:200px;"  ShowBullets="@bullets"  AutoCycle="@autocycle" TData="object">
                <MudCarouselItem Transition="transition" >
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="transition">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="transition">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
                    </div>
                </MudCarouselItem>
            </MudCarousel>

		    </div>
		  
	    </div>
    

	</div>
	


@code {

    private bool bullets = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}