@page "/people"
@rendermode InteractiveServer
@using DataAccessLibrary
@using LibraryManagementApp.Models
@using MudBlazor

@inject IPeopleData _db

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="View" Icon="@Icons.Material.Filled.List">
        <h3>View People Page</h3>

		<h4> Current People</h4>
		<br />
		<br />
		@if (peopleModels is null)
		{
			<p><em>Loading...</em></p>
		}
		else
		{
			<MudSimpleTable Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Style="overflow-x: auto;">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Contact Number</th>
						<th>Address</th>
						<th>Gender</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var person in peopleModels)
					{
						<tr>
							<td>@person.FirstName</td>
							<td>@person.LastName</td>
							<td>@person.ContactNumber</td>
							<td>@person.Address</td>
							<td>@person.Gender</td>
							<td>@person.Email</td>
						</tr>
				
					}
				</tbody>
			</MudSimpleTable>
	
		}
    </MudTabPanel>


    <MudTabPanel Text="Add People" Icon="@Icons.Material.Filled.AddCircle">
        <h3>View People Page</h3>

		<h4> Current People</h4>
		<br />
		<br />


		<MudTextField T="string" @bind-Value="_addPeople.FirstName" Counter="50" MaxLength="50" HelperText="Please Input Your First Name" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="First Name" Variant="Variant.Text" />
		<MudTextField T="string" @bind-Value="_addPeople.LastName" Counter="50" MaxLength="50" HelperText="Please Input Your Last Name" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="Last Name" Variant="Variant.Text" />
		<MudTextField T="string" @bind-Value="_addPeople.ContactNumber" Counter="12" MaxLength="12" HelperText="Please Input Your Contact Number" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="Contact Number" Variant="Variant.Text" />
		<MudTextField T="string" @bind-Value="_addPeople.Address" Counter="100" MaxLength="100" HelperText="Please Input Your Address" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="Address" Variant="Variant.Text" />
		<MudSelect  @bind-Value="_addPeople.Gender" Label="Gender" HelperText="Please Choose Your Gender">
			<MudSelectItem  Value="@("Male")">False</MudSelectItem>
			<MudSelectItem Value="@("Female")">True</MudSelectItem>
			<MudSelectItem Value="@("N/A")">True</MudSelectItem>
		</MudSelect>

    </MudTabPanel>
</MudTabs>



@code {
	private bool dense = true;
	private bool hover = true;
	private bool striped = true;
	private bool bordered = true;
	private IEnumerable<string> MaxCharacters(string ch)
    {
        if (!string.IsNullOrEmpty(ch) && 25 < ch?.Length)
            yield return "Max 25 characters";
    }
	private bool _loading;



	private PeopleModel _addPeople = new PeopleModel();

	private List<PeopleModel> peopleModels;

	

	protected override async Task OnInitializedAsync()
	{
		peopleModels = await _db.GetPeople();
	}
}

